body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./assets/bgmarmol2.jpg);
  color: #333;
  font-family: monospace;
}

/* Estilos del porfolio */
.porfolio {
  padding: 2em 0;
  position: sticky;
  top: 0;
  height: 100%;
}

.wrapper {
  margin: 3em;
}

.info-personal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  color: #333;
}

.descripcion {
  width: 40%;
}

.profesion-personal {
  font-size: 1.5em;
}

.nom {
  width: 19.5ch;
  animation: typing 2s steps(18), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 4em;
}

.menu-opciones {
  display: flex;
  justify-content: center;
  margin-top: 10em;
  padding: 10px;
}

.opciones button {
  text-decoration: none;
  color: #333;
  border: #333 3px solid;
  border-radius: 25px;
  padding: 10px;
  font-size: 1.5em;
  margin: 5px;
  background: none;
  cursor: pointer;
}

.opciones button.active {
  opacity: 0.5;
}

.skills-section,
.projects-section {
  margin-top: 2em;
  text-align: center;
}

.skills-logos img,
.learning-logos img {
  width: 50px;
  margin: 0 10px;
}

.project {
  margin: 1em 0;
  font-size: 1.2em;
}

/* Animaciones */
@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

/* Estilos de imagenes */

.img-lenguajes {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 8px;
  text-align: center;
}

.img-lenguajes * {
  display: inline-block;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.angular {
  background-image: url(./assets/logoAngular1.png);
}

.javascript {
  background-image: url(./assets/JSLogo1.png);
}

.java {
  background-image: url(./assets/logoJava1.png);
}

.spring {
  background-image: url(./assets/springLogo1.png);
}

.html {
  background-image: url(./assets/HTML5Logo1.png);
}

.css {
  background-image: url(./assets/CSSLogo1.png);
}

.react {
  background-image: url(./assets/logoReact1.png);
  margin-right: 5px;
}

.python {
  background-image: url(./assets/PythonLogo1.png);
  margin-left: 5px;
}

